@import "../../../@theme/styles/themes";
.window-height {
    height: 900vh !important;
    width: 900vw !important;
  }
  
  .full-screen{
    height: 100vh !important;
    width: 100vw !important;
  }