.survey-list {
  width: 100%;
  height: 485px;
}

.create-survey-icon {
  cursor: pointer;
  font-size: 2.5em;
  color: #cad1dd;
}
.create-survey-label {
  font-size: 17px;
  font-family: Open Sans, sans-serif;
  color: #818a98;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-left: -2.7%;
}
